.container1{
    height: 500px;
}

div ul li{
    display: inline-block;
}
.lis{
    padding: 0px 0px;
    color: white;
    font-size: 16px;
    margin-left: 50px;
    direction: rtl;
    transition: all .5s;
}

.lis:hover{
    color: #f36100;
}

.search-box{
border: 1.5px solid rgba(255, 94, 0, 0.795);
border-radius: 20px;
}
header div i{
    color: orangered;
    font-size: 19px;
    padding: 0px 10px;
}

div h6{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #f36100;
}

svg{
    border: 1.5px solid #f36100;
    border-radius: 100%;
    /* margin-top: 15px; */
    /* margin-left: 60px; */
    /* margin-bottom: 10px; */
}

div .col-lg-3 p{
    line-height: 25px;
    font-size: 15px;
    text-align: justify;
    /* font-weight: bold; */
    color: rgb(255, 255, 255);
    padding-left: 10px; 
    padding-right: 10px; 
    padding-top: 30px;
}

.front-face, .back-face{
    position: absolute;
    background: #ffe1e1;
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
    transition: transform .8s linear;
    width: 260px;
    height: 410px;
    margin-top: 20px;
    text-align: center;
    background: linear-gradient(75deg, #2980b9, #8e44ad);
  }
  
  .name{
    font-size: 22px;
    font-weight: bold;
    color: #f36100;
    padding-top: 20px;
  }
 
.contineu{
    font-size: 22px;
    font-weight: bold;
    color: #f36100;
    padding-top: 20px;
  }
 

    
  .back-face{
    transform: perspective(800px) rotateY(-180deg);
  }
  .front-face{
    transform: perspective(800px) rotateY(0deg);
  }
  .container1:hover > .back-face{
    transform: perspective(800px) rotateY(0deg);
  }
  .container1:hover > .front-face{
    transform: perspective(800px) rotateY(180deg);
  }
 
.parallax-image{
    width: 100%; 
    height: 800px;
    background: url(./picture/hero-1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.fa-search{
  color: white;
}
.fa-telegram{
  color: rgb(0, 102, 255);
}
.fa-instagram{
  color: rgb(158, 0, 158);
}
.fa-twitter{
  color: #2980b9;
}
.Sentence{
    position: absolute;
    color: #f36100;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    margin-top: 380px;
    margin-right: 100px;
    direction: rtl;
}
.Sentence1{
    position: absolute;
    color: #f36100;
    font-size: 23px;
    font-weight: bold;
    text-align: right;
    margin-top: 320px;
    margin-right: 100px;
    direction: rtl;
}

.elm-varzesh{
    text-align: justify;
    color: white;
    font-size: 16px;
    line-height: 30px;
}

.margintop{
  margin-top: 30px;
}

.parallax-image1{
  margin-top: 50px;
  width: 100%; 
    height: 400px;
    background: url(./picture/hero-2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.asami{
  color: #f36100;
  font-weight: bold;
  margin-top: 20px;
  font-size: 20px;
}

.esmha{
  font-size: 16px;
  text-align: justify;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.paginatiion a{
  color: white;
  font-size: 14px;
  text-align: left;
  margin-left: 20px;
  padding: 8px 16px;
  text-decoration: none;
  direction: ltr;
}

.paginatiion a:hover{
  color: #f36100;
  text-decoration: none;
}

.sss2{
 color: blue;
 font-size: 30px;
}
.sss3{
  color: #8e44ad;
  font-size: 30px;
 }
 .sss4{
  color: blue;
  font-size: 30px;
 }

 .manabe{
   color: white;
   font-size: 11px;
   text-align: right;
   margin-right: 20px;
  margin-top: 10px;
 }
 
 footer{
   border-radius: 8px;
 }